{% include "navIn.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{%static 'simpleCentering.css'%}">
    <link rel="stylesheet" href="{%static 'navbar.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <title>Donor Plasma</title>
</head>
<style>
	h1 {
    padding-top: 5rem;
    padding-bottom: 10px;
    text-align: center;
}
</style>
<body>
    <h1>Daftar Sebagai Pendonor</h1>
    <hr>
    {% load crispy_forms_tags %}
    <div id="alert-box"></div>
    <form enctype="multipart/form-data" method="POST" action="">
        {% csrf_token %}
        {{ form|crispy}}
        <br>
        <button type=" submit" class="btn btn-danger">Daftar</button>
    </form>
</body>
<script>
    $(document).ready(function () {
        $("form").submit(function () {
            alert("Berhasil Mendaftar")
        })
    })
</script>

</html>