{% include user.is_authenticated|yesno:"navIn.html,navOut.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/facivon.png" />
    <title>Donor Plasma</title>
</head>
<style>
    body {
        background-image: url('/static/bg.png');
    }
    h1 {
        padding-top: 25rem;
        padding-left: 7rem;
        font-weight: 100;
        font-size: 4.8rem;
    }
</style>
<body>
    <h1>
        <span class="red">DONOR</span>
        <br>
        PLASMA
        <br>
        KONVALESEN
    </h1>
</body>
</html>