{% include "navIn.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Donor Plasma</title>
{% load static %}
<link rel="stylesheet" href="{%static 'simpleCentering.css'%}">
<link rel="stylesheet" href="{%static 'navbar.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<style>
td,th {
    color: black;
    text-align: left;
    font-size: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.test {
    text-align: center;
}

button:hover {
    opacity: 1;
}

/* Add a color to the delete button */
/* Add padding and center-align text to the container */
/* The Modal (background) */
.modal {
    display: none;
}

h1 {
    padding-top: 5rem;
    padding-bottom: 10px;
    text-align: center;
}
</style>
</head>
<body>
    <h1>Informasi Pendonor</h1>
    <table class="data" style="width:max-content; border-collapse:initial;">
    </table>
    <table class="tombol">
        <tr>
            <td><button onclick=ubah() class="btn btn-info">Ubah Data</button></td>
            <td><button type="button" onclick="document.getElementById('batal').style.display='block'"
                    class="btn btn-danger">Batal
                    Mendonor</button></td>
            <td><button onclick="document.getElementById('selesai').style.display='block'" class="btn btn-success">Sudah
                    Mendonor</button></td>
        </tr>
    </table>
    <div id="batal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Batal Mendonor</h5>
                    <button type="button" class="btn-close"
                        onclick="document.getElementById('batal').style.display='none'">
                        x</button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin untuk membatalkan donor?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick=batal() class="btn btn-warning">Ya, Saya Yakin</button>
                </div>
            </div>
        </div>
    </div>
    <div id="selesai" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Selesai Mendonor</h5>
                    <button type="button" class="btn-close"
                        onclick="document.getElementById('selesai').style.display='none'">
                        x</button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin sudah donor?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick=selesai() class="btn btn-warning">Ya, Sudah Mendonor</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    function batal() {
        document.getElementById('batal').style.display = 'none';
        window.location = "/pendonor/delete";
    }

    function selesai() {
        document.getElementById('selesai').style.display = 'none';
        alert("Terima kasih sudah mendonor");
        window.location = "/pendonor/delete";
    }

    function ubah() {
        window.location = "/pendonor/daftar";
    }

    $(document).ready(function () {
        $.getJSON('/pendonor/get_user', function (data) {
            var pendonor = data[0]["fields"];
            $("table.data").append(
                `<tr>
                    <td>Nama</td>
                    <td>&nbsp;&nbsp;: ${pendonor["nama"]}</td>
                </tr>
                <tr>
                    <td>NIK</td>
                    <td>&nbsp;&nbsp;: ${pendonor["NIK"]}</td>
                </tr>
                <tr>
                    <td>Tanggal Lahir</td>
                    <td>&nbsp;&nbsp;: ${pendonor["tanggal_lahir"]}</td>
                </tr>
                <tr>
                    <td>Gol. Darah</td>
                    <td>&nbsp;&nbsp;: ${pendonor["golongan_darah"]}</td>
                </tr>
                <tr>
                    <td>Rhesus</td>
                    <td>&nbsp;&nbsp;: ${pendonor["rhesus"]}</td>
                </tr>
                <tr>
                    <td>No. HP</td>
                    <td>&nbsp;&nbsp;: ${pendonor["nomor_hp"]}</td>
                </tr>
                <tr>
                    <td>Tanggal Sembuh</td>
                    <td>&nbsp;&nbsp;: ${pendonor["tanggal_sembuh"]}</td>
                </tr>
                <tr>
                    <td>Tanggal Terakhir Mendonor</td>
                    <td>&nbsp;&nbsp;: ${pendonor["tanggal_terakhir_mendonor"]}</td>
                </tr>`
            );
        });
    });

</script>
</html>